{% extends 'layout.twig' %}
{% block body %}
    <h1>Dashboard</h1>

    <ul>
        <li><a href="/ejercicios/bbdd/symblog/blogs/add">Añadir Blog</a></li>
        <li><a href="/ejercicios/bbdd/symblog/users/add">Añadir Usuario</a></li>
    </ul>
    <br><br>
    <a href="/ejercicios/bbdd/symblog/logout">Logout</a>
{% endblock %}